<div id="main-wrapper">
  <header class="header">
    <app-the-header></app-the-header>
  </header>

  <div class="page-content">
    <aside [class.sidebar]="!pgSv.collapse" [class.mini-sidebar]="pgSv.collapse">
      <app-sidebar></app-sidebar>
    </aside>

    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <!-- <app-breadcrumbs></app-breadcrumbs> -->

      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet> 

      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
            </div>
          </div>
        </div>
       </div> -->
    </div> 
  </div>

  <footer class="wrapper footer">
    <app-the-footer></app-the-footer>
  </footer>

  <app-leer-resumen-modal *ngIf="!mdSv.modalCerrado && mdSv.modalAbierto"></app-leer-resumen-modal>
</div>