<div id="back-frame">
  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Titulo Libro</h4>
        <button (click)="mdSv.cerrarModal()" type="button" class="close" data-dismiss="modal"
                 aria-hidden="true">
          <span class="material-icons">
            close
          </span>
        </button>
    </div>
    <div class="modal-body">
        <h4>Overflowing text to show scroll behavior</h4>
        <p class="resumen">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        En la Inglaterra del siglo XIII, Robin y su banda de ladrones luchan contra la corrupción en una pequeña ciudad, hasta el punto de enfrentarse a la corona y cambiar el reparto de poder entre el rey y sus súbditos. Héroe o forajido, un hombre de humilde cuna se convertirá en un símbolo de libertad para su pueblo.
        ROBIN HOOD relata la vida de un experto arquero al que sólo le interesaba proteger su vida mientras estaba al servicio del rey Ricardo Corazón de León. Al morir el rey, Robin (Russell Crowe) vuelve a Nottingham, una ciudad aplastada por los impuestos recaudados por un sheriff despótico. Allí se enamora de lady Marion (la oscarizada Cate Blanchett, El aviador; Elizabeth), una mujer que duda de la identidad y de las motivaciones de este cruzado del bosque. Decidido a conquistar el corazón de la dama y a salvar la ciudad, Robin reúne a una banda cuyas inesperadas habilidades sólo son igualadas por sus ganas de vivir.
        </p>
    </div>
    <div class="modal-footer">
        <button (click)="mdSv.cerrarModal()" type="button" class="btn btn-close"
                 data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
